@import './variables.scss';

.app-jumbotron {
  padding: 5.313rem 0 7.063rem;
  margin: 0 auto;
  max-width: 41.688rem;
  text-align: center;
  color: $primary-white;

  &__title {
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 2.588rem;
  }

  &__text {
    padding: 1.938rem 6.375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.408rem;
    opacity: .8;
  }

  &__btn {
    padding: .625rem 2rem;
    background-color: $primary-red;
    font-size: 1.25rem;
    color: $primary-white;
    line-height: 1.884rem;
    border: .063rem solid $primary-black;
    border-radius: .188rem;
    cursor: pointer;
  }
}