@import './variables.scss';

.app-post {
  width: 100%;
  max-width: 21.25rem;
  border-radius: .313rem;
  cursor: pointer;

  &__selected {
    margin: 2.5rem auto 0;
    width: 38%;
    border-radius: .625rem;
    box-shadow: 0 0 .625rem rgba(0, 0, 0, .30);

    &_title {
      padding: .875rem;
      font-size: 1.688rem;
      color: $primary-blue;
    }

    &_image {
      display: block;
      width: 100%;
    }

    &_summary {
      font-weight: 700;
    }

    &_text,
    &_summary {
      padding: 0 1.25rem 1.125rem 1.25rem;
      color: $primary-graphite;
    }
  }

  &_image {
    display: block;
    width: 100%;
  }

  &__description {
    padding: 1.5rem 1.313rem;
    width: 100%;
    border-bottom-left-radius: .313rem;
    border-bottom-right-radius: .313rem;
    box-shadow: 0 0 .625rem rgba(0, 0, 0, .15);
  }

  &_title {
    height: 4.375rem;
    overflow: hidden;
    font-size: .938rem;
    color: $primary-grey;
    line-height: 1.458rem;
  }

  &_text {
    margin: .5rem 0;
    overflow: hidden;
    font-size: .875rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    line-height: 1.129rem;
    color: $secondary-grey;
    transition: all .2s ease-in-out;
  }

  &__btn {
    background: none;
    border: none;
    color: $primary-blue;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: .813rem;
    line-height: .953rem;
    cursor: pointer;

    &-icon {
      width: .5rem;
      height: .813rem;
      transition: all .2s ease-out;
    }

    &-text {
      padding: 0 0 0 .625rem;
    }
  }
}